<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.purple.demo.mapper.CsMapper">
	<!-- 공지사항 -->
	<!-- 공지사항 글 등록 -->
	<insert id="regNotice">
		INSERT INTO cs_notice
		( notice_title, notice_ctnt,
		notice_userpk )
		VALUES
		( #{notice_title}, #{notice_ctnt},
		#{notice_userpk} )
	</insert>

	<!-- 공지사항 글 리스트 -->
	<select id="selNoticeList" resultType="CsNoticeEntity">
		SELECT * FROM cs_notice
		ORDER BY notice_pk DESC
	</select>

	<!-- 공지사항 글 -->
	<select id="selNotice" resultType="CsNoticeEntity">
		SELECT * FROM cs_notice
		WHERE
		notice_pk = #{notice_pk};
	</select>

	<!-- 공지사항 글 수정 -->
	<update id="notice_upd">
		UPDATE cs_notice
		SET notice_title = #{notice_title}
		,notice_ctnt = #{notice_ctnt}
		WHERE notice_pk = #{notice_pk}
	</update>

	<!-- 공지사항 조회수 -->
	<update id="updNoticevieView">
		UPDATE cs_notice
		SET notice_view = notice_view + 1
		WHERE notice_pk = #{notice_pk}
	</update>

	<!-- 공지사항 글 삭제 -->
	<delete id="notice_del">
		DELETE FROM cs_notice
		WHERE notice_pk = #{notice_pk}
	</delete>



	<!-- 문의사항 -->

	<insert id="regQuestion">
		INSERT INTO cs_question
		( question_title,
		question_ctnt,
		question_userpk, question_typ )
		VALUES
		(
		#{question_title}, #{question_ctnt}, #{question_userpk},
		#{question_typ} )
	</insert>

	<!-- 문의사항 글 리스트 -->
	<select id="selQuestionList" resultType="CsQuestionEntity">
		SELECT a.question_pk
		,a.question_title, a.question_ctnt,
		a.question_writedate,
		a.question_view, a.question_userpk,
		a.question_typ , b.answer_ctnt
		FROM
		cs_question AS a LEFT JOIN cs_answer AS b
		on a.question_pk = b.answer_pk
		ORDER BY a.question_pk DESC;
	</select>

	<!-- 문의사항 글 -->
	<select id="selQuestion" resultType="CsQuestionEntity">
		SELECT * FROM cs_question
		WHERE question_pk = #{question_pk};
	</select>

	<!-- 문의사항 글 수정 -->
	<update id="question_upd">
		UPDATE cs_question
		SET question_title =
		#{question_title} ,question_ctnt = #{question_ctnt}
		WHERE question_pk =
		#{question_pk}
	</update>

	<!-- 문의사항 글 삭제 -->
	<delete id="question_del">
		DELETE FROM cs_question
		WHERE question_pk =
		#{question_pk}
	</delete>
</mapper>