<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.purple.demo.mapper.FeedMapper">
    <select id="selFeedList" resultType="FeedListDTO">
        SELECT a.feed_pk, a.feed_ctnt, a.feed_writedate, a.feed_userpk,
        b.user_id, b.user_profileimg,
        (SELECT COUNT(comment_pk) FROM comment WHERE comment_feedpk = a.feed_pk) AS "comment_count",
        (SELECT COUNT(favorite_feedpk) FROM favorite WHERE favorite_feedpk= a.feed_pk) AS "favorite_count"
        FROM feed AS a
        LEFT OUTER JOIN user AS b
        ON (a.feed_userpk = b.user_pk)
        WHERE a.feed_state = #{feed_state}
        ORDER BY 
        <choose>
            <when test="category == 1">
                a.feed_writedate DESC
            </when>
            <when test="category == 2">
                favorite_count DESC
            </when>
            <otherwise>
                a.feed_writedate DESC
            </otherwise>
        </choose> 
        LIMIT #{first_page}, #{end_page};
    </select>


    <select id="selFeedDetail" resultType="FeedDetailDTO">
        SELECT a.feed_pk, a.feed_ctnt, a.feed_writedate, a.feed_userpk, a.feed_state, b.user_pk,
        b.user_id, b.user_profileimg,
        (SELECT COUNT(comment_pk) FROM comment WHERE comment_feedpk = a.feed_pk) AS "comment_count",
        (SELECT COUNT(favorite_feedpk) FROM favorite WHERE favorite_feedpk= a.feed_pk) AS "favorite_count"
        FROM feed AS a
        LEFT OUTER JOIN user AS b
        ON (a.feed_userpk = b.user_pk)
        WHERE a.feed_pk = #{feed_pk}
    </select>

    <select id="selMediaList" resultType="MediaEntity">
        SELECT b.media_url
        FROM feed AS a
        INNER JOIN media AS b
        ON (a.feed_pk = b.media_feedpk)
        WHERE a.feed_pk = #{feed_pk}
    </select>

    <select id="selHashtagList" resultType="HashtagEntity">
        SELECT a.hashtag_ctnt
        FROM hashtag AS a
        INNER JOIN hashtag_relation AS b
        ON(a.hashtag_pk = b.htrel_hashtagpk)
        INNER JOIN feed AS c
        ON (b.htrel_feedpk = c.feed_pk)
        WHERE c.feed_pk = #{feed_pk}
    </select>

    <!-- 북마크 -->
    <select id="isBookmark" resultType="_int">
        SELECT count(bookmark_feedpk)
        FROM bookmark
        WHERE bookmark_feedpk=#{feed_pk} AND bookmark_userpk=#{user_pk}
    </select>

    <insert id="insertBookmark">
        INSERT INTO bookmark(bookmark_feedpk, bookmark_userpk)
        VALUES(#{bookmark_feedpk}, #{bookmark_userpk})
    </insert>

    <delete id="deleteBookmark">
        DELETE FROM bookmark
        WHERE bookmark_feedpk = #{bookmark_feedpk}
        AND bookmark_userpk = #{bookmark_userpk}
    </delete>

    <!-- favorite 부분 -->
    <select id="favoriteCount" resultType="_int">
        SELECT COUNT(favorite_feedpk) AS "favorite_count"
        FROM favorite 
        WHERE favorite_feedpk= #{favorite_feedpk} 
    </select>

    <select id="isFavorite" resultType="_int">
        SELECT count(favorite_feedpk)
        FROM favorite
        WHERE favorite_feedpk=#{feed_pk} AND favorite_userpk=#{user_pk}
    </select>

    <insert id="insFavorite">
        INSERT INTO favorite
        (favorite_feedpk, favorite_userpk)
        VALUES
        (#{favorite_feedpk}, #{favorite_userpk})
    </insert>

    <delete id="delFavorite">
        DELETE FROM favorite
        WHERE favorite_feedpk = #{favorite_feedpk}
        AND favorite_userpk = #{favorite_userpk}
    </delete>
    
    <select id="selCommentList" resultType="CommentListDTO">
        SELECT A.comment_pk, A.comment_ctnt, A.comment_userpk, A.comment_writedate, A.comment_state, B.user_id, B.user_profileimg
        FROM comment AS A
        LEFT OUTER JOIN user AS B
        ON (A.comment_userpk = B.user_pk)
        WHERE A.comment_feedpk = #{feed_pk} AND A.comment_state = 1
        AND A.comment_parentpk = A.comment_pk
        ORDER BY A.comment_writedate DESC;
    </select>
    <!-- 글 쓰기 -->
    <insert id="insfeed" useGeneratedKeys="true" keyProperty="feed_pk">
		INSERT INTO feed
		( feed_ctnt, feed_userpk )
		VALUES
		( #{feed_ctnt}, #{feed_userpk} )
	</insert>

    <insert id="inshastag">
        INSERT INTO hashtag
        ( hashtag_pk, hashtag_ctnt )
        VALUES
        ( #{hashtag_pk}, #{hashtag_ctnt} )
    </insert>

    <insert id="insfeedimg">
		INSERT INTO media
		( media_feedpk, media_url )
		VALUES
		( #{item.media_feedpk}, #{item.media_url} )
	</insert>

</mapper>