<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.purple.demo.mapper.FeedMapper">
    <select id="selFeedList" resultType="FeedDomain">
        SELECT a.feed_ctnt, a.feed_writedate, a.feed_userpk,
        COUNT(b.favorite_feedpk) AS "좋아요 갯수",
        COUNT(c.comment_ctnt) AS "댓글 갯수",
        d.htrel_feedpk,
        e.hashtag_ctnt,
        f.user_id, f.user_profileimg
        FROM feed AS a

        LEFT OUTER JOIN favorite AS b
        ON (a.feed_pk = b.favorite_feedpk)

        LEFT OUTER JOIN comment AS c
        ON (a.feed_pk = c.comment_feedpk)

        LEFT OUTER JOIN hashtag_relation AS d
        ON (d.htrel_feedpk = a.feed_pk)

        LEFT OUTER JOIN hashtag AS e
        ON (e.hashtag_pk = d.htrel_hashtagpk)

        LEFT OUTER JOIN user AS f
        ON (f.user_pk = b.favorite_userpk)

        ORDER BY feed_writedate DESC
        LIMIT 0, 5
    </select>

    <select id="selFeed" resultType="FeedEntity">
        SELECT feed_ctnt, feed_writedate, feed_userpk FROM feed
        WHERE feed_pk = #{feed_pk}
    </select>

    <select id="selMediaList" resultType="MediaEntity">
        SELECT media_feedpk, media_url FROM media
        WHERE media_type = #{media_type}
    </select>

    <select id="selHashtagList" resultType="HashtagEntity">
        SELECT a.hashtag_ctnt FROM hashtag AS a
        INNER JOIN hashtag_relation AS b
        ON a.hashtag_pk = b.htrel_feedpk
    </select>

    <select id="FavoriteCnt" resultType="FavoriteEntity">
        SELECT favorite_feedpk, COUNT(favorite_feedpk) AS favorite_cnt
	    FROM favorite
		GROUP BY favorite_feedpk
    </select>

    <select id="CommentCnt" resultType="CommentEntity">
        SELECT comment_feedpk, COUNT(comment_ctnt) AS comment_cnt
        FROM comment
        ORDER BY comment_ctnt
    </select>

    <select id="BookmarkState" resultType="BookmarkEntity">
        <!-- bookmark_feedpk 값이 존재하면, 북마크 상태, 값이 없으면 북마크 상태 X -->
        SELECT bookmark_feedpk FROM bookmark
		WHERE bookmark_userpk = #{bookmark_userpk}
    </select>

    <select id="FavoriteState" resultType="FavoriteEntity">
        <!-- favorite_feedpk 값이 존재하면, 좋아요 상태, 값이 없으면 좋아요 상태 X -->
        SELECT favorite_feedpk FROM favorite
        WHERE favorite_userpk = #{favorite_userpk}
    </select>

    <insert id="regFeed">
		INSERT INTO feed
		( feed_pk, feed_ctnt, feed_userpk )
		VALUES
		( #{feed_pk}, #{feed_ctnt}, 1 )
	</insert>
</mapper>