<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.purple.demo.mapper.MypageMapper">
    <select id="checkUserpw" resultType="string">
        SELECT user_pw
        FROM user
        WHERE user_pk = #{user_pk}
    </select>

    <select id="selMypageFeedList" resultType="FeedListDTO">
        SELECT a.feed_pk, a.feed_ctnt, a.feed_writedate, a.feed_userpk,
        b.user_id, b.user_profileimg,
        (SELECT COUNT(comment_pk) FROM comment WHERE comment_feedpk = a.feed_pk) 
        AS "comment_count",
        (SELECT COUNT(favorite_feedpk) FROM favorite WHERE favorite_feedpk = a.feed_pk) 
        AS "favorite_count"
        FROM feed AS a
        LEFT OUTER JOIN user AS b
        ON (a.feed_userpk = b.user_pk)
        WHERE a.feed_state = 1 
        AND a.feed_userpk = #{user_pk}
        ORDER BY a.feed_writedate DESC
        LIMIT #{first_page}, #{end_page};
    </select>

    <update id="modUserInfo">
        UPDATE user
        <set>
            <if test="user_id != null and user_id != ''">
                user_id = #{user_id},
            </if>
            <if test="user_name != null and user_name != ''">
                user_name = #{user_name},
            </if>
            <if test="user_bio != null and user_bio != ''">
                user_bio = #{user_bio},
            </if>
            <if test="user_location != null and user_location != ''">
                user_location = #{user_location},
            </if>
            <if test="user_email != null and user_email != ''">
                user_email = #{user_email},
            </if>
            <if test="user_birth != null and user_birth != ''">
                user_birth = #{user_birth},
            </if>
            <if test="user_profileimg != null and user_profileimg != ''">
                user_profileimg = #{user_profileimg},
            </if>
            <if test="user_backgroundimg  != null and user_backgroundimg  != ''">
                user_backgroundimg  = #{user_backgroundimg }
            </if>
        </set>
        WHERE user_pk = #{user_pk}
    </update>

    <update id="modUserPw">
        UPDATE user
        SET user_pw = #{user_pw}
        WHERE user_pk = #{user_pk}
    </update>

     <!--oauth2 타입 가져오기-->
     <select id="oauth2_typ" resultType="UserEntity">
        SELECT oauth_typ FROM user
        WHERE user_pk = #{user_pk};
    </select>
</mapper>