@charset "UTF-8";

* {
  font-family: 'paybooc-Bold';
}
#main {
  margin-top: 6em;
}

#cs_write_title {
  position: relative;
  top: -2.3em;
  font-size: 1.5rem;
  text-align: center;
}

#cs_write_form {
  padding: 20px;
}

#cs_write_table {
  position: relative;
  top: -2em;
  border-collapse: separate;
  border-spacing: 1px;
  text-align: left;
  line-height: 1.5;
  border-top: 1px solid #ccc;
}

#cs_write_table th {
  width: 100px;
  padding: 10px;
  font-weight: bold;
  border-bottom: 1px solid #fff;
  background: rgb(82, 0, 121);
  font-size: 1.1rem;
  color: #fff;
}

#cs_write_table td {
  width: 450px;
  padding: 10px;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
}
#category select {
  outline: none;
  width: 7em;
}
#title {
  border: none;
  outline: none;
  font-size: 15px;
  width: 34em;
}
#text {
  border: none;
  resize: none;
  outline: none;
  height: 30em;
  font-size: 14px;
}

#write_btns {
  position: relative;
  top: -2em;
  left: 33.7em;
}
#cs_write_submit_btn {
  cursor: pointer;
  background: rgb(82, 0, 121);
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
  outline: none;
}

#cs_write_return_btn {
  cursor: pointer;
  background: rgb(82, 0, 121);
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
  outline: none;
}

.ctnt_img {
  width: 450px;
  height: 200px;
}
