@charset "UTF-8";
#title_bar {
  top: 0.3em;
  width: auto;
  height: 50px;
  position: sticky;
}

/* 게시판 전체 */
#cs_question_container {
  /* position: relative; */
  width: auto;
  height: auto;
  -ms-overflow-style: none;
  border-radius: 15px;
}
#cs_question_container::-webkit-scrollbar {
  display: none;
}
#question_title {
  position: relative;
  top: 2.5em;
  font-size: 1.5rem;
  text-align: center;
}

#cs_question_write {
  position: relative;
  left: 30em;
  top: 1em;
  font-size: 1.1rem;
}

/* 글 1개당 양식 */
.cs_question_content {
  width: 100%;
  position: relative;
  top: 6em;
}

/* 타이틀 바 */
.cs_question_titlebar {
  height: 4em;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgb(82, 0, 121);
}

.cs_question_titlebar:hover,
.cs_question_titlebar:hover * {
  cursor: pointer;
}

.cs_question_title {
  /* position: relative; */
  font-size: 20px;
}

.cs_question_extratitle {
  /* position: relative; */
  margin-left: auto;
  font-size: 14px;
}

/* 내용 */
.cs_question_detail {
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 0.5s;
  border-radius: 0px 0px 16px 16px;
  top: 6em;
  height: 0px;
  width: auto;
  align-items: center;
  border-bottom: 2px solid rgb(82, 0, 121);
}
.cs_question_detail::-webkit-scrollbar {
  width: 10px;
}
.cs_question_detail::-webkit-scrollbar-thumb {
  background-color: rgb(82, 0, 121);
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
.cs_question_detail::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
}

/* detail요소 안에서 글씨체 조정 부분 */
.cs_question_detail p {
  /* position: relative; */
  font-size: 18px;
  white-space: pre-line;
}
.question_use {
  text-align: right;
}
.question_use button {
  cursor: pointer;
  font-family: 'paybooc-Bold';
  background: #fff;
  border: none;
  font-size: 1rem;
}
.answer_ctnt_detail {
  margin-top: 7em;
}
.cs_cmt_del {
  background: #fff;
  border: none;
  font-size: 1.1rem;
  margin-left: -0.4em;
  font-family: 'paybooc-Bold';
  outline: none;
  cursor: pointer;
}
.detail_img {
  position: relative;
  left: 6.5em;
}
.detail_img img {
  width: 28em;
  height: 16em;
}
.detail_detail {
  position: relative;
  left: 1em;
  top: 1em;
  width: 38em;
  height: auto;
}
.detail_detail p {
  word-wrap: break-word;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 19px;
  white-space: pre-line;
}
.bottomAdmin_Use {
  text-align: right;
  position: relative;
  bottom: -6em;
}
.bottomAdmin_Use a {
  font-size: 1.09rem;
}
.bottomAdmin_Use button {
  cursor: pointer;
  background: #fff;
  border: none;
  font-size: 1.1rem;
  font-family: 'paybooc-Bold';
}

/*페이징*/
#pagingLocation {
  text-align: center;
  float: left;
  position: relative;
  left: 3.5em;
  top: 6em;
  font-size: 1.2rem;
}
#pagingLocation span {
  padding: 20px;
  cursor: pointer;
}
.page.selected {
  font-size: 1.8rem;
  color: rgb(178, 85, 221);
  font-weight: bold;
}

/*모달찰*/
.cs_cmt_btn {
  color: rgb(255, 255, 255);
  background-color: rgb(160, 89, 226);
  width: 5em;
  height: 30px;
  position: relative;
  top: 24em;
  left: 0.5em;
  cursor: pointer;
  border-radius: 3em;
  border: none;
  outline-color: #fff;
}
.cs_cmt_btn:hover {
  border-color: rgb(160, 89, 226);
  border-width: 2px;
  color: rgb(160, 89, 226);
  background-color: rgb(255, 255, 255);
}
.cs_cmt_textarea {
  font-family: 'paybooc-Bold';
  width: 26em;
  height: 6.2em;
  font-size: 1.3rem;
  outline: none;
  resize: none;
  border: 2px solid blueviolet;
  margin-top: 3em;
}
.cs_cmt_textarea::-webkit-scrollbar {
  width: 10px;
}
.cs_cmt_textarea::-webkit-scrollbar-thumb {
  background-color: rgb(82, 0, 121);
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
.cs_cmt_textarea::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
}
.cs_cmt_reg {
  position: relative;
  top: 11.4em;
  left: 32em;
  font-size: 1.1rem;
  cursor: pointer;
}

.cs_modal_close {
  width: 25.2px;
  height: 25.2px;
  position: relative;
  top: 0.9em;
  left: 37em;
  color: blueviolet;
}
.cs_modal_close > a {
  display: block;
  width: 100%;
  height: 100%;
  background: url(https://img.icons8.com/metro/26/000000/close-window.png);
  text-indent: -9999px;
}
