@charset "UTF-8";
#title_bar {
  top: 0.3em;
  width: auto;
  height: 50px;
  position: sticky;
}

/* 게시판 전체 */
#cs_question_container {
  /* position: relative; */
  width: auto;
  height: auto;
  -ms-overflow-style: none;
  border-radius: 15px;
}
#cs_question_container::-webkit-scrollbar {
  display: none;
}
#question_title {
  position: relative;
  top: 2.5em;
  font-size: 1.5rem;
  text-align: center;
}

#cs_question_write {
  position: relative;
  left: 30em;
  top: 1em;
  font-size: 1.1rem;
}

/* 글 1개당 양식 */
.cs_question_content {
  width: 100%;
  position: relative;
  top: 6em;
}

/* 타이틀 바 */
.cs_question_titlebar {
  height: 4em;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgb(82, 0, 121);
}

.cs_question_titlebar:hover,
.cs_question_titlebar:hover * {
  cursor: pointer;
}

.cs_question_title {
  /* position: relative; */
  font-size: 20px;
}

.cs_question_extratitle {
  /* position: relative; */
  margin-left: auto;
  font-size: 14px;
}

/* 내용 */
.cs_question_detail {
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 1s;
  border-radius: 0px 0px 16px 16px;
  top: 6em;
  height: 0px;
  width: auto;
  align-items: center;
  border-bottom: 2px solid rgb(82, 0, 121);
}
.cs_question_detail::-webkit-scrollbar {
  width: 10px;
}
.cs_question_detail::-webkit-scrollbar-thumb {
  background-color: rgb(82, 0, 121);
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
.cs_question_detail::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
}

/* detail요소 안에서 글씨체 조정 부분 */
.cs_question_detail p {
  /* position: relative; */
  font-size: 18px;
  white-space: pre-line;
}
.question_use {
  text-align: right;
}
.question_use button {
  cursor: pointer;
  font-family: 'paybooc-Bold';
  background: #fff;
  border: none;
  font-size: 1rem;
}

/*페이징*/
#pagingLocation {
  text-align: center;
  position: relative;
  top: 6em;
  font-size: 1.2rem;
}
#pagingLoaction span {
  cursor: pointer;
}

/*모달찰*/
.cs_cmt_btn {
  color: rgb(255, 255, 255);
  background-color: rgb(160, 89, 226);
  width: 5em;
  height: 30px;
  position: relative;
  top: 24em;
  left: 0.5em;
  cursor: pointer;
  border-radius: 3em;
  border: none;
  outline-color: #fff;
}
.cs_cmt_btn:hover {
  border-color: rgb(160, 89, 226);
  border-width: 2px;
  color: rgb(160, 89, 226);
  background-color: rgb(255, 255, 255);
}
.cs_cmt_vlew {
  display: none;
  width: 39em;
  height: 13em;
  border-radius: 1em;
  position: absolute;
  bottom: 3.3em;
  background: rgb(255, 255, 255);
  z-index: 2;
}
.cs_cmt_vlew textarea {
  font-family: 'paybooc-Bold';
  width: 26em;
  height: 6.2em;
  font-size: 1.3rem;
  margin-left: 1em;
  outline: none;
  resize: none;
  border: 2px solid blueviolet;
}
.cs_cmt_vlew textarea::-webkit-scrollbar {
  width: 10px;
}
.cs_cmt_vlew textarea::-webkit-scrollbar-thumb {
  background-color: rgb(82, 0, 121);
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
.cs_cmt_vlew textarea::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
}
.cs_cmt_vlew p {
  font-size: 1.1rem;
}
.cs_cmt_vlew button {
  border: none;
  outline: none;
  background: #fff;
  font-size: 1rem;
  cursor: pointer;
  font-family: 'paybooc-Bold';
}
.cs_cmt_reg {
  position: relative;
  top: 7.7em;
  left: 3em;
  font-size: 1.1rem;
  cursor: pointer;
  margin: 1em 0 0 30.2em;
}

.cs_modal_close {
  width: 25.2px;
  height: 25.2px;
  position: relative;
  top: 0.9em;
  left: 37em;
  color: blueviolet;
}
.cs_modal_close > a {
  display: block;
  width: 100%;
  height: 100%;
  background: url(https://img.icons8.com/metro/26/000000/close-window.png);
  text-indent: -9999px;
}
.cs_cmt_textarea {
  width: 570px;
  height: 130px;
  resize: none;
}
