/* feedDetail CSS */
.feed_overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  animation: fade 0.7s ease;
}

@keyframes fade {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
.detailCtnt_container {
  position: relative;
}
.feedDetail {
  background-color: #fff;
  height: 45em;
  min-width: 40em;
  position: absolute;
  z-index:4;
  top: 10%;
  left: 33.9%;
  border-radius: 2em;
  padding: 2px;
  overflow: hidden;
}

.detail_close {
  position:relative;
  padding: 10px;
  float: right;
  cursor: pointer;
  display: block;
}

.detail_close i {
  font-size: 1.5em;
}

.detail_img_container {
  position: relative;
  width: 40em;
  height: 100%;
  float: left;
  display: flex;
  align-items: center;
}

.detail_Img{
  position: relative;
  left: -0.7em;
  width: 100%;
}

.detail_Img > img:nth-child(1) {
  display: block;
}
.detail_Img img {
  border-radius: 2em;
  display: none;
  width: 100%;
}
.detail_ctnt_container {
  position:relative;
  width: 40em;
  height: 100%;
  float: right;
}

.detail_previous,
.detail_next {
  background-color: purple;
  cursor: pointer;
  position: absolute;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 1;

}
.detail_previous{
  left: -0.1em;
}
.detail_next {
  right: 0.6em;
  border-radius: 3px 0 0 3px;
}

.detail_titlebar{
  height: 40px;
  padding: 8px;
  position: relative;
  display: flex;
  align-items: center;

}

.detail_titlebar img {
  width: 3em;
  border-radius: 70%;
  height: 3em;
}

.detail_titlebar span {
  position: relative;
  font-size: 0.9rem;
  margin-left: 0.6em;
}

.detail_titlebar i {
  position: relative;
  margin-left: auto;
  cursor: pointer;
  margin-right: 1em;
}

.detail_ctnt {
  position: relative;
  width:40em;
  height: auto;
}

.hashtag_container {
  padding-left: 20px;
  padding-top: 20px;
  width: 35.5em;
  position: relative;
}

.hashtag_container a {
  margin-right: 20px;
  font-size: 1.1em;
}

.ctnt_container{
  width: 27em;
  margin: 0.5em 0.5em;
  position: relative;
  font-size: 1.4em;
  height: auto;
}

.detail_functionbar {
  position: relative;
  width: 40em;
  height: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
  margin-left: 1em;
}

.detail_functionbar i{
  width: 1em;
  font-size: 2em;
  cursor: pointer;
  margin-left: 0.1em;
  margin-right: 1em;
}

.detail_comment_container {
  position: relative;
  height:65%;
  width:40em;
}

.comment_list {
  position: relative;
  border: 2px solid black;
  border-radius: 2em;
  width: 37.3em;
  left: 0.8em;
  height: 20em;
  padding: 0.4em;
  overflow-y: scroll;
  -ms-overflow-style: none;
}

.comment_list::-webkit-scrollbar{ display:none; }

.commentbar {
  margin-left: 0.4em;
  margin-top: 0.3em;
  position: relative;
  height: 3.3em;
  width: 36em;
  display: flex;
  align-items: center;
}

.commentFunctionbar {
  position : relative;
  width: 6em;
  height: auto;
  margin-bottom: 0.3em;
}

.commentFunctionbar button {
  margin-bottom: 0.5em;
  position: relative;
  cursor: pointer;
  background: #ad00e2;
  color: #fff;
  border: 1em;
  border-radius: 3em;
  white-space: nowrap;
}

.commentFunctionbar button:hover {
  background-color: #fff;
  color: #ad00e2;
  border: 1px solid #ad00e2;
}

.commentbar img {
  margin-right: 0.5em;
  width: 3em;
  border-radius: 70%;
  height: 3em;
}

.noComment {
  margin-left: 40%;
}
.commentbar span {
  margin-right: 2em;
  font-size: 1em;
  display: block;
}

.comment_input {
  position: relative;
  width: 40em;
  height: 3em;
}

.comment_input span[name='recomment_userid'] {
  font-size: 1.1em;
  margin-left: 1em;
}

.comment_input i {
  font-size: 1em;
}

.comment_input input[name='comment_ctnt'] {
  width: 64%;
  padding: 10px 0;
  margin-top: 1em;
  margin-left:1em;
  margin-right:19px;
  border: none;
  border-bottom: 2px solid #8b11b1;
  outline: none;
  background: transparent;
}

.comment_input input[type='button'] {
  margin-top: 0.5em;
  position: relative;
  cursor: pointer;
  width: 5em;
  background: #ad00e2;
  color: #fff;
  border: 1em;
  padding: 1em;
  border-radius: 1em;
  white-space: nowrap;
}

.recommentbar {
  margin-left: 3em;
  position: relative;
  height: 3.3em;
  width: 36em;
  display: flex;
  align-items: center;
}

.recommentbar span {
  margin-right: 2em;
  font-size: 1em;
  display: block;
}

.recommentbar img {
  margin-right: 0.5em;
  width: 3em;
  border-radius: 70%;
  height: 3em;
}
