/* feedDetail CSS */
.feed_overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  animation: fade 0.7s ease;
}

@keyframes fade {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
.detailCtnt_container {
  position: relative;
}
.feedDetail {
  background-color: #fff;
  min-height: 37em;
  margin: 9em auto;
}
.feed_detail_userImg {
  margin-left: 1em;
}
.feedDetail_img {
  margin-left: 0em;
  min-height: 650px;
  width: 650px;
}
.detail_Img img {
  display: none;
  top: 50%;
  width: 100%;
}
.detail_Img > img:nth-child(1) {
  display: block;
}
.detail_previous,
.detail_next {
  background-color: purple;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 1;
}
.detail_next {
  right: 51em;
  border-radius: 3px 0 0 3px;
}
.feedDetail_contents {
  position: fixed;
  top: 3em;
  left: 62em;
}
.feedDetail_contents .feed_title {
  display: flex;
  position: relative;
  margin-top: 7em;
}
.feedDetail_contents .feed_title span:nth-of-type(1) {
  position: relative;
  top: -0.3em;
  font-size: 1.1rem;
}
.feedDetail_contents .feed_title span:nth-of-type(2) {
  margin-left: 0.6em;
  top: -0.3em;
}
.feedDetail_contents .feed_title i {
  top: -0.3em;
}
.feedDetail_contents .feed_title i:nth-of-type(1) {
  margin-left: 18em;
}
.detail_ctnt_container {
  width: 31em;
  margin: 0.6em 0 1em 1em;
  font-size: 1.07rem;
}
..detail_ctnt_container div {
  margin-top: 1em;
}
.hashtag_p {
  margin-top: 0.5em;
}
.feedDetail_contents {
  margin-left: 1.5em;
  width: 35em;
  height: auto;
}

.feedDetail_contents .feed_functionbar {
  margin-top: -1em;
}
.feed_overlay_content input {
  font-family: 'paybooc-Bold';
}
.heart_div {
  margin: 0 2em 0 1em;
}
.heart_div span,
.comment_div span {
  margin-left: 0.3em;
}
.heart_div,
.comment_div {
  display: inline;
}
.bookmark_div {
  position: relative;
  top: -1.2em;
  left: 10em;
}
.feed_comment {
  position: relative;
  left: -1em;
  margin-top: 3em;
}
.comment_input {
  position: relative;
  left: 0em;
}
.comment_input input:nth-of-type(1) {
  width: 27em;
  height: 3em;
  outline-style: none;
  border: none;
  border-bottom: 1.5px solid black;
  font-size: 1.1rem;
}
.comment_input input:nth-of-type(2) {
  width: 4em;
  height: 3.5em;
  background: #fff;
  border: none;
  outline-style: none;
  cursor: pointer;
  position: relative;
  left: 0.5em;
  top: 0.5em;
}
.comment_read {
  border: 1px solid rgb(190, 190, 190);
  width: 33em;
  height: 19.3em;
  margin: -0.5em 0 0 1em;
  overflow-y: scroll;
  overflow-x: hidden;
}
.comment_read::-webkit-scrollbar {
  width: 5px;
}
.comment_read::-webkit-scrollbar-track {
  background: #ffffff;
}
.comment_read::-webkit-scrollbar-thumb {
  background: #d9c0ee;
}
.comment_read::-webkit-scrollbar-button {
  display: none;
}
.comment_read img {
  width: 3em;
  border-radius: 2em;
}
.cmtReadDetail {
  margin: 1em 0 1em 1em;
  width: 30em;
  height: auto;
  border-bottom: 1px solid rgb(175, 173, 173);
}
.cmtReadDetail span {
  position: relative;
  top: -2.5em;
  color: gray;
}
.cmtReadDetail p {
  font-size: 1.1rem;
  margin: -1.6em 0 1em 3.3em;
  cursor: pointer;
}
.cmt_reply {
  width: 22em;
  height: auto;
  margin-left: 2em;
}

/* 사진이 없을 경우의 detail css */
.ctnt_div {
  width: 30em;
  margin-top: 1em;
  min-height: 4em;
  max-height: 7em;
}
