@charset "UTF-8";

#title_bar {
  width: auto;
  height: 50px;
  position: relative;
}

#title_bar .user_name {
  font-size: 20px;
}

#title_bar .user_bulletin {
  font-size: 15px;
  display: block;
  margin-top: 5px;
}

/* mypage userinfo */
#mypage_userinfo_container {
  margin-top: 0.3em;
  position: relative;
  width: auto;
  height: 28em;
  border-bottom: 2px solid rgb(237, 217, 248);
  border-radius: 10px;
}

#mypage_userinfo_backimg {
  position: relative;
  background: #bdc3c7;
  height: 13em;
  width: 100%;
  z-index: 0;
  overflow: hidden;
}

#mypage_userinfo_backimg img {
  position: relative;
  width: 100%;
  height: auto;
}

#mypage_userinfo_img {
  position: absolute;
  top: 8em;
  left: 1em;
  z-index: 1;
}

#mypage_userinfo_img img {
  width: 132px;
  height: 132px;
  border-radius: 50%;
  bottom: -1.5em;
  left: 3em;
  border: rgb(255, 255, 255) 0.3em solid;
  z-index: 10;
}

#mypage_userinfo_content {
  position: relative;
  float: left;
  top: 4.5em;
  left: 1em;
  line-height: 140%;
}

#mypage_userinfo_content .mypageuser_nm {
  font-size: 14px;
}

#mypage_userinfo_content .mypageuser_id {
  font-size: 23px;
}
#mypage_userinfo_content .mypageuser_bio {
  width: 25em;
}
#mypage_userinfo_content .mypageuser_bio span {
  word-break: break-all;
  display: block;
  font-size: 14px;
  margin-top: 0.5em;
}

#mypage_userinfo_content .mypageuser_birth {
  font-size: 16px;
  margin-top: 0.2em;
}

#mypage_userinfo_content .mypageuser_following {
  font-size: 16px;
  margin-top: 0.4em;
}

#mypage_userinfo_button {
  top: 1em;
  right: 3em;
  position: relative;
  float: right;
}

/* mypage_menu */
#selectBox select {
  position: relative;
  margin-top: 1em;
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0.5em;
  border: 0.1em solid black;
  border-radius: 0.5em;
}

#mypage_modcontent_btn {
  position: relative;
  right: 0.5em;
  top: 2em;
  bottom: 0.5em;
  padding: 10px 24px;
  cursor: pointer;
  font-weight: 700;
  background: #000;
  color: #fff;
  border-radius: 3em;
  border: 0;
  outline: 0;
  white-space: nowrap;
}

#mypage_modcontent_btn:hover {
  background-color: #d980fa;
}

#mypage_pw_btn {
  position: relative;
  right: 0.5em;
  top: 2em;
  bottom: 1.2em;
  padding: 10px 18px;
  cursor: pointer;
  font-weight: 700;
  font-family: Y_Spotlight;
  background: #000;
  color: #fff;
  border-radius: 3em;
  border: 0;
  outline: 0;
  white-space: nowrap;
}

#mypage_pw_btn:hover {
  background-color: #d980fa;
}

#modal_background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(71, 71, 71, 0.5);
  z-index: 3;
  display: none;
}

/* userMod_modal창 */
#userMod_container {
  position: absolute;
  background-color: white;
  z-index: 5;
  width: 600px;
  height: 660px;
  top: 21%;
  left: 4%;
  border-radius: 15px;
  display: none;
}

#userMod_top {
  position: relative;
  width: 100%;
  height: 3em;
  border-bottom: #d980fa solid 2px;
  display: flex;
  align-items: center;
}

#close_userMod {
  position: relative;
  width: 10em;
  height: 3em;
  overflow: hidden;
  margin-left: 0.5em;
}

#close_userMod img {
  position: relative;
  width: 22px;
  padding: 8px;
  cursor: pointer;
  top: 14.5%;
}
#userMod_top span {
  width: 70em;
  position: relative;
  font-size: 1.3em;
}

#save_userModBtn {
  position: relative;
  cursor: pointer;
  margin-right: 2em;
  font-weight: 600;
  background: #d980fa;
  color: #fff;
  border-radius: 3em;
  padding: 10px 24px;
}
#userMod_content {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0.3em;
}

#mod_background {
  position: relative;
  background-color: #9c9c9c;
  width: 98%;
  height: 12em;
}

#mod_userimg {
  position: absolute;
  top: 8em;
  left: 1em;
  z-index: 1;
}

#mod_userimg img {
  width: 132px;
  height: 132px;
  border-radius: 50%;
  bottom: -1.5em;
  left: 3em;
  border: rgb(255, 255, 255) 0.3em solid;
  z-index: 10;
}

.profile_img {
  width: 7em;
  border-radius: 50%;
  position: relative;
  bottom: -12em;
  left: 1em;
  border: rgb(255, 255, 255) 0.3em solid;
}

.camera_icon {
  position: relative;
  top: 9em;
  right: 4.2em;
  cursor: pointer;
}

.backgroundcamera_icon {
  position: relative;
  top: 1em;
  left: 7em;
  cursor: pointer;
}

.mypage_top {
  padding-bottom: 10px;
  border-bottom: 1px solid;
}

.mypage_top span {
  position: relative;
  left: 3em;
  bottom: 0.6em;
  font-size: 20px;
}

#userModFrm {
  position: relative;
  margin-top: 5em;
  width: 98%;
  height: 20em;
  display: inline-block;
}
input[name="mod_id"] {
  position: relative;
  height: 2.5em;
  width: 85%;
  font-size: 16px;
  border-radius: 6px;
  outline-color: #d980fa;
  border: 1px solid;
  margin-bottom: 0.5em;
}

input[name="id_check"] {
  text-align: center;
  padding: 8px;
  background: #d980fa;
  color: #fff;
  border-radius: 6px;
  vertical-align: middle;
}

input[name="mod_name"],
input[name="mod_bio"],
input[name="mod_location"],
input[name="mod_website"] {
  position: relative;
  height: 2.5em;
  width: 99%;
  font-size: 16px;
  border-radius: 6px;
  outline-color: #d980fa;
  border: 1px solid;
  margin-bottom: 0.4em;
}

input[name="mod_birth"] {
  position: relative;
  height: 2.5em;
  width: 99.5%;
  font-size: 16px;
  border-radius: 6px;
  outline-color: #d980fa;
  border: 1px solid;
  margin-bottom: 0.4em;
}
/* userMod_modal창 종료 */

/* userPwMod_modal창 */
#userPwMod_container {
  position: absolute;
  background-color: white;
  z-index: 5;
  width: 20em;
  height: 15.5em;
  top: 60%;
  left: 25%;
  border-radius: 15px;
  padding: 0.3em;
  display: none;
}

#userPwMod_top {
  position: relative;
  width: 100%;
  height: 3em;
  border-bottom: #d980fa solid 2px;
  display: flex;
  align-items: center;
}

#close_userPwMod {
  position: relative;
  width: 10em;
  height: 3em;
  overflow: hidden;
  margin-right: 0.5em;
}

#close_userPwMod img {
  position: relative;
  width: 22px;
  padding: 8px;
  cursor: pointer;
  top: 14.5%;
}
#userPwMod_top span {
  position: relative;
  width: 70em;
  font-size: 1.3em;
  margin-left: 0.2em;
}

form[name="userPwModFrm"] {
  position: relative;
  width: 100%;
}

input[type="password"] {
  position: relative;
  height: 2.5em;
  width: 98%;
  font-size: 16px;
  border-radius: 6px;
  outline-color: #d980fa;
  border: 1px solid;
  margin-top: 0.4em;
}

input[name="pwModBtn"] {
  margin-top: 0.4em;
  text-align: center;
  padding: 8px;
  background: #d980fa;
  color: #fff;
  border-radius: 6px;
  vertical-align: middle;
  margin-left: 38%;
}
/* userPwMod_modal창 종료 */
