@charset "UTF-8";

.modal_pw{
width: 400px;
  height: 400px;
  position: fixed;
  top: 32%;
  left: 50.5%;
  background: #bdc3c7;
  z-index: 2;
  border-radius: 1em;
  display: none;	/* 요소가 전혀 표시되지 X(레이아웃에 영향 주지 X, 공간이 사라짐) */
  animation: fade 0.7s ease;
}

.pw_bg{
	display: none;
	position: fixed;
	content: "";
	width: 100%;
	height: 100%;
	background-color:rgba(0,0,0,0.5);
	top: 0;
	left: 0;
	z-index: 1;
}

.modal_close{
	width: 26px;
	height: 26px;
	position: absolute;
	top: 0px;
  right: 0px;
}

.modal_close > a{
	display: block;
	width: 100%;
	height: 100%;
	background:url(https://img.icons8.com/metro/26/000000/close-window.png);
	text-indent: -9999px;
}

.pw_title{
	position: relative;
	top: 4em;
	left: 6.5em;
	margin: 0;
}

.bigPw_line{
	position: relative;
	left: 6em;
	top: 4em;
}

.bigPw_line input{
	text-align: center;
	width: 200px;
	height: 30px;
	border-radius: 6px;
	font-size: 16px;
	font-family: 'Y_Spotlight';
	border: 1px solid;
}

.bigPw_line input:focus {
	outline:2px solid #D980FA;
}

.pw_btn{
	position: relative;
	top: 6.5em;
	left: 9em;
}

.mypagePw_modal_btn{
	position: relative;
	left: 1em;
	bottom: 1em;
	padding: 6.5px 25px;
	cursor: pointer;
	font-weight: 700;
	font-family: Y_Spotlight;
	background: #D980FA;
	color: #fff;
	border-radius: 3em;
	border: 0;
	outline: 0;
	white-space: nowrap;
}