@charset "UTF-8";
@font-face {
  font-family: 'paybooc-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  font-family: 'paybooc-Bold';
}
body {
  overflow-x: hidden;
  font-family: 'Y_Spotlight';
  background: #fff;
}
a {
  text-decoration: none;
}

/* 로고 */
#logo img {
  width: 6em;
  margin: 1em 0 0 2em;
}
#logo span {
  font-size: 3rem;
  position: absolute;
  margin: 0.7em 0 0 1em;
}

/* login&join  */
#errMSG {
  font-size: 1.3rem;
  position: relative;
  top: 7.3em;
  left: 2.2em;
  color: red;
}
.ChkFail {
  display: none;
  color: red;
  font-size: 1.2rem;
}
.ChkSuccess {
  display: none;
  color: limegreen;
  font-size: 1.2rem;
}

#form-wrap {
  width: 30em;
  height: 45em;
  position: relative;
  margin: 5em auto;
  border: 4px solid #8b11b1;
  border-radius: 3em;
  overflow: hidden;
}
#button-wrap {
  margin: 41px 0 35px 83px;
  position: relative;
}
.togglebtn {
  padding: 2px 33px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  font-size: 1.3em;
}
#btn-wrap {
  top: 0;
  left: 0;
  position: absolute;
  width: 150px;
  height: 37px;
  background: #8b11b1;
  border-radius: 30px;
  transition: 0.5s;
}
.selectFixed span {
  color: #fff;
  line-height: 1.5em;
}
#loginChkBox {
  position: relative;
  top: 1em;
}
.input-login span,
.input-login .input_submit {
  font-size: 1.2em;
}
.input-login,
.input-register {
  top: 143px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}
.input-login .input_submit {
  margin: 40px 0 0 70px;
}
.input-register {
  top: 87px;
}
.input-login input,
.input-register input {
  font-size: 1.3em;
}
.input-field {
  width: 130%;
  padding: 10px 0;
  margin: 5px 0;
  border: none;
  border-bottom: 2px solid #8b11b1;
  outline: none;
  background: transparent;
}
#overlap_id {
  position: absolute;
  top: 0.5em;
  right: -4em;
  width: 5em;
  height: 1.5em;
  background: #8b11b1;
  color: #fff;
  border: none;
}
.input_submit {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: 1em 0 0 3em;
  background: #8b11b1;
  border: 0;
  outline: none;
  border-radius: 30px;
  color: #fff;
}

.checkbox {
  margin: 30px 10px 30px 0;
  position: relative;
  top: 1em;
}
#loginFrm {
  left: 50px;
  top: 15em;
}
#registerFrm {
  top: 14em;
  left: 480px;
}

.errorMsg {
  font-size: 1.3rem;
  margin: 9em 0 0 6em;
  color: #f85656;
}
/* 생년월일란 css */
input[type='date']::before {
  content: attr(data-placeholder);
  width: 100%;
  color: gray;
}
input[type='date']:focus::before,
input[type='date']:valid::before {
  display: none;
}

/* 비밀번호 찾기 CSS */
#findpw .findpw_btn {
  position: relative;
  top: 6.5em;
  left: 15.9em;
  font-size: 1.2rem;
  cursor: pointer;
}
.findpw_modal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  animation: fade 0.7s ease;
}
.findpw_modal div {
  background: #fff;
  height: 16em;
  width: 26em;
  margin: 21em auto;
  border-radius: 1em;
}
.findpw_use h2 {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1.5em;
}
.findpw_use span {
  display: block;
  text-align: center;
}
.findpw_use input {
  outline: none;
  font-size: 1.1rem;
  height: 2em;
  margin-bottom: 1em;
  border: none;
}
.findpw_id,
.findpw_email {
  width: 20em;
}
.find_btn {
  width: 3em;
  position: relative;
  top: 1em;
  left: -5em;
  background: none;
  cursor: pointer;
  color: #00ad2b;
}
.findpw_quit {
  width: 4em;
  position: relative;
  top: -1.7em;
  right: -15em;
  font-size: 1.1rem;
  cursor: pointer;
  color: #9803c5;
}
